body{
    font-family: 'Mitr', sans-serif;
    background: linear-gradient(180deg, #FD3E6A 0%, rgba(98, 71, 133, 0.640625) 99.97%, rgba(92, 89, 150, 0.534042) 99.98%, rgba(90, 94, 155, 0.505757) 99.99%, rgba(59, 178, 237, 0) 100%);

}
.bg88 {
    background: linear-gradient(180deg, #0A0047 0%, #7F0238 97.92%, #C0000E 100%);
    border-bottom: #ffffff;
}

.navtop88 {
    color: #ffffff;
    border-bottom: #ffffff;
    font-size: larger;
}

.navtop88:hover {
    color: floralwhite;
    text-overflow: ellipsis;
    text-decoration: underline;
    text-shadow: 2px;
}

.navbutton {
    
}

.navregis {
    background: linear-gradient(180deg, #E44A08 0.52%, rgba(245, 38, 38, 0.86) 46.88%, #E44A08 100%);
    border-radius: 10px;
    color: #ffffff;
    margin: 4px;
}

.navlogin {
    background: #E7C25B;
    border-radius: 10px;
    color: #ffffff;
    margin: 1px;
}

.navdeposit {
    background: #249298;
    border-radius: 10px;
    color: #ffffff;
}

.navregis,.navlogin,.navdeposit:hover{
    color: #ffffff;
}